.ArticleList {
  margin: 0;
  padding: 0 15px 0 15px;
  list-style: none;

  .article {
    margin-top: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.spin {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin-top: 200px;
}
