@import '../../../assets/scss/vars';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 385px;
  margin: 60px auto;
  padding: 48px 36px;
  background-color: $background-color-base;

  &Item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
  }

  &Item:first-of-type {
    margin-top: 21px;
  }

  &Input {
    height: 40px;
    margin: 3px;
    padding: 8px 12px;
    border: 1px solid $background-secondary;
    border-radius: 4px;

    &:focus {
      border: 1px solid $primary-color;
      outline: none;
    }
  }
}

.submit {
  color: $background-color-base;
  margin-top: 30px;
  padding: 13px 136px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  border-radius: 4px;
  background-color: $primary-color;

  &:hover {
    transform: scale(1.05);
  }
}

.signIn {
  font-size: 12px;
  color: $text-color-secondary;
  margin-top: 8px;
}

.input {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 30px;
  cursor: pointer;


  &Input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
  }

  &Checkmark {
    position: relative;
    top: 2px;
    left: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid $disabled-color;
    border-radius: 2px;
  }

  &Input:checked + &Checkmark {
    border: 1px solid $primary-color;
    background: $primary-color url('../../../assets/images/check.svg') no-repeat center;
  }

  &Input:focus-visible + &Checkmark {
    border: 1px solid $primary-color;
    border-radius: 2px;
  }

  &Input:disabled + &Checkmark {
    border: 1px solid $disabled-color;
    border-radius: 2px;
  }

  &Input:checked:disabled + &Checkmark {
    border: 1px solid $disabled-color;
    border-radius: 2px;
    background: url('../../../assets/images/check.svg') center no-repeat;
  }

  &Label {
    max-width: 290px;
    padding-left: 10px;
  }
}

.error {
  border-color: #ff0;
}

.errorMessage {
  color: #ff0;

}